<div class="notification">
	<% flash.try(:each) do |key, value| %>
    <div class="alert alert-<%= key == 'notice' ? 'success' : (key == 'alert' ? 'danger' : key) %> pull-right">
      <%= raw value unless value.blank? %>
    </div>
  <% end %>
  <% flash.clear if flash.present? %>
</div>